body{
  background-color: black !important;
}
#graficaPastel{
  margin-bottom: 25%;
}
h1{
  text-align: center;
  color: white;
}
h4{
  text-align: center;
  color: white;
}
.GraficaHM{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background: #111111;
}
