body{
  background-color: black !important;
}
h1{
  text-align: center;
  color: white;
}
h3{
  color: white !important;
}
h4{
  color: white !important;
}
p{
  color: white;
}
.GraficaHM{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background: #111111;
}
